button._tap_volume_button {
    fill: var(--yt-spec-text-primary) !important;
    text-align: center !important;
}

button._tap_volume_button._tap_volume_active {
    fill: var(--yt-spec-red-30) !important;
    font-weight: bold !important;
}

:root {
    --tap-volume-slider-display: block;
}

div.ytp-volume-panel {
    display: var(--tap-volume-slider-display) !important;
}