button._tap_volume_active {
    stroke: rgb(255, 78, 69) !important;
}

:root {
    --tap-volume-slider-display: block;
}

div.ytp-volume-panel {
    display: var(--tap-volume-slider-display);
}