button._tap_volume_button {
    color: #eee !important;
    justify-content: center !important;
    align-items: center !important;
}

button._tap_volume_button._tap_volume_active {
    color: #ff8983 !important;
}

:root {
    --tap-volume-slider-display: block;
}

div.ytp-volume-panel {
    display: var(--tap-volume-slider-display) !important;
}

button.ytp-volume-icon {
    width: unset !important;
}