button._tap_volume_button {
    color: #eee !important;
    justify-content: center !important;
    align-items: center !important;
}

button._tap_volume_button._tap_volume_active {
    color: #ff8983 !important;
}

:root {
    --tap-volume-slider-display: block;
    --tap-volume-icon-display: block;
}

span.ytp-volume-area {
    padding-right: 0px !important;
}

div.ytp-volume-panel {
    display: var(--tap-volume-slider-display) !important;
}

div.ytp-mute-button {
    display: var(--tap-volume-icon-display) !important;
}

button.ytp-mute-button {
    display: var(--tap-volume-icon-display) !important;
}